.dropdown-hover.dropdown-menu > a:hover, .dropdown-hover.dropdown-menu > a:focus {
    background-image:none !important;
}
.dropdown-hover.dropdown-menu > a:hover, .dropdown-hover.dropdown-menu > a:focus {
    background-color: #4e73df;
    color: white;
}

.dropdown-hover.dropdown-menu > a:hover.dropdown-item.item-danger, .dropdown-hover.dropdown-menu > a:focus.dropdown-item.item-danger {
    background-color: #df4e4e;
    color: white;
}

.dropdown-hover.dropdown-menu > a:hover.dropdown-item.item-success, .dropdown-hover.dropdown-menu > a:focus.dropdown-item.item-success {
    background-color: #5adf4e;
    color: white;
}

.dropdown-hover.dropdown-menu > a:hover.dropdown-item.item-warning, .dropdown-hover.dropdown-menu > a:focus.dropdown-item.item-warning {
    background-color: #dfc94e;
    color: white;
}

.dropdown-hover.dropdown-menu > a:hover.dropdown-item.item-info, .dropdown-hover.dropdown-menu > a:focus.dropdown-item.item-info {
    background-color: #4ec9df;
    color: white;
}

.dropdown-hover.dropdown-menu > a:hover.dropdown-item.item-primary, .dropdown-hover.dropdown-menu > a:focus.dropdown-item.item-primary {
    background-color: #4e73df;
    color: white;
}

.fa:hover {
    color: #4e73df;
    cursor: pointer;
}

/* Custom Calendar */

#external-events .fc-event {
  padding: 0 0.5em 0 0.5em;
  margin: 1em 0;
  cursor: move;
}

span.fc-title {
    color: #fff;
    text-decoration: none;
}


/* Upload */

.mmn-dropzone { 
    color: #ccc; 
    border-radius: 10px; 
    border: 2px dashed #ccc; 
    height: 200px; 
    line-height: 200px; 
    margin-bottom: 20px; 
    text-align: center; 
}

.mmn-dropzones {
    color: #ccc; 
    border-radius: 10px; 
    border: 2px dashed #ccc; 
    height: 200px; 
    line-height: 200px; 
    margin-bottom: 20px; 
    width: 100%;
    text-align: center; 
}

.mmn-dropzone.mmn-drop, .mmn-dropzones.mmn-drop { 
    border-color: #000; 
    color: #000; 
}

.mmn-thumbnail { 
    border: 1px solid rgba(0, 0, 0, 0.39); 
    overflow: hidden; 
    padding: 10px; 
    margin-bottom: 10px; 
}
.mmn-thumbnail img { 
    display: inline-block; 
    float: left; 
    margin-right: 10px; 
    max-height: 150px; 
    max-width: 200px; 
    /*filter: grayscale(1); 
    -webkit-filter: grayscale(1); */
}
/*
.mmn-thumbnail img:hover { 
    filter: grayscale(0); 
    -webkit-filter: grayscale(0); 
}*/

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.ui-autocomplete > li > div {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
  cursor: pointer;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
  